button {
     width: 3.75rem;
     height: 3.75rem;
     margin: 1px;
     background-color: #0E8C42;
     border-radius: 5px;
     border: 1px solid #007b15;
     color: #fff;
     font-size: 1.2rem;
     font-weight: 600;
     cursor: pointer;
}